.footer_links {
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(81, 85, 85);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social_media {
  display: flex;
  justify-content: center;
}

.social_media a {
  display: inline-block;
  margin-right: 15px;
}
.footer_image {
  width: 20px;
  height: 20px;
}

.copy_right {
  margin: 10px 0;
  text-align: center;
}

.copy_right p {
  font-size: 12px;
  font-family: var(--font-family);
  color: #fff;
}
