@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

h2 {
  margin: var(--space-medium) 0;
  font-family: var(--font-family-text);
  font-size: 36px;
  font-weight: 500;
}

p {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 300;
  color: var(--color-light-black);
}

button {
  display: flex;
  margin-top: 20px;
}

.container_main {
  display: flex;
  padding: 0;
  flex-direction: column;
}
.container_sub {
  display: flex;
  max-width: 1100px;
  flex-direction: row;
  padding: 0;
  margin: 20px auto;
}

.title {
  margin: 0px;
  margin: 50px 0px;
  padding: 0;
  font-size: 36px;
}

@media screen and (max-width: 1050px) {
  .title {
    margin: 60px 0px;
  }
  .container_sub {
    max-width: 900px;
    margin: 10px 100px;
  }
  .page_left p {
    font-size: 17px;
  }
  .about_img {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 900px) {
  .title {
    margin: 80px 0px;
    margin-bottom: 30px;
  }
  .container_sub {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .title {
    margin: 60px 0px;
    margin-bottom: 30px;
  }

  .container_sub {
    margin: 10px 50px;
  }
  .page_left p {
    margin-right: 0;
  }
  .page_right {
    padding-right: 0;
  }
  .about_img {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
}
