@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* body {
  background: rgb(243, 243, 247);
} */

a {
  color: unset;
  text-decoration: none;
}

h2 {
  margin: var(--space-medium) 0;
  font-family: var(--font-family-text);
  font-size: 24px;
  font-weight: 500;
}

p {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 300;
  color: var(--color-light-black);
}

button {
  display: flex;
  margin-top: 20px;
}

.container_main {
  display: flex;
  width: 100%;
  background-color: rgb(248, 241, 239);
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.title {
  flex-basis: 60%;
  align-items: center;
  margin: 40px 200px;
  margin-bottom: 10px;
  padding: 0;
}

.container_sub {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 10px 200px;
  border: 2px solid red;
}

@media screen and (max-width: 1050px) {
  .title {
    margin: 20px 100px;
  }
  .container_sub {
    margin: 10px 100px;
  }
  .page_left p {
    font-size: 17px;
  }
  .about_img {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 900px) {
  .container_sub {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .title {
    margin: 20px 50px;
  }
  .container_sub {
    margin: 10px 50px;
  }
  .page_left p {
    margin-right: 0;
  }
  .about_img {
    width: 250px;
    height: 200px;
  }
}
